@keyframes out-in{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

@keyframes move-right{
    from{
        transform: translateX(-30%);
        opacity:0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes move-up{
    from{
        transform: translateY(90%);
        opacity:0;
    }
    to{
        transform: translateY(0%);
        opacity:1;
    }
}