//colors
$primary-color: rgba(0, 195, 255, 0.568);
$dark-blue: rgba(0, 0, 139, 0.8);
$secondary-color: hsla(210, 100%, 21.96%, 0.56);

//font-size
$default-size: 1.6rem;

//gutter
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 3rem;
